####################################
# Gmail SMTP
####################################

EMAIL_PROVIDER=gmail
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM="cr8 studio <noreply@cr8.studio>"

####################################
# Fast2SMS
####################################

FAST2SMS_API_KEY=
FAST2SMS_ROUTE=otp
FAST2SMS_SENDER_ID=CR8STUDIO

####################################
# OTP
####################################

OTP_LENGTH=6
OTP_EXPIRY_MINUTES=5
OTP_MAX_ATTEMPTS=3
OTP_RESEND_SECONDS=60

####################################
# JWT
####################################

JWT_SECRET=super_secret_cr8_jwt_key_2026
JWT_EXPIRES=1d
REFRESH_SECRET=super_secret_cr8_refresh_key_2026
REFRESH_EXPIRES=30d

####################################
# Redis / MongoDB
####################################

REDIS_HOST=localhost
REDIS_PORT=6379
MONGO_URL=mongodb://localhost:27017/cr8studio
