fastapi
uvicorn
motor
passlib[bcrypt]
PyJWT
pydantic[email]
python-multipart
python-dotenv
httpx
aiofiles
bcrypt
aiosmtplib
google-generativeai
google-auth
pyotp
Pillow
apify-client==3.1.2
apify-shared>=1.4.1
